<div class="container" *ngIf="cartProducts.length > 0; else empty">
  <h2 class="text-center">Your order</h2>

  <table>
    <tbody>
    <tr *ngFor="let cartProduct of cartProducts; let idx = index">
      <td>{{cartProduct.type}}</td>
      <td>{{cartProduct.title}}</td>
      <td>
        <button class="btn btn-danger" (click)="delete(cartProduct)">Delete</button>
      </td>
      <td>{{cartProduct.price}}$</td>
    </tr>
    </tbody>
  </table>
  <hr>
  <b class="right">Total: {{totalPrice}}$</b>

  <h2 class="text-center">Delivery</h2>

  <div *ngIf="added" class="text-center text-danger">{{added}}</div>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-control">
      <label for="name">Name:</label>
      <input id="name" type="text" formControlName="name">
      <div class="validation" *ngIf="form.get('name').touched && form.get('name').invalid">
        <small *ngIf="form.get('name').errors.required">Enter your name</small>
      </div>
    </div>

    <div class="form-control">
      <label for="phone">Phone number:</label>
      <input id="phone" type="text" formControlName="phone">
      <div class="validation" *ngIf="form.get('phone').touched && form.get('phone').invalid">
        <small *ngIf="form.get('phone').errors.required">Enter your phone number</small>
      </div>
    </div>

    <div class="form-control">
      <label for="address">Address:</label>
      <input id="address" type="text" formControlName="address">
      <div class="validation" *ngIf="form.get('address').touched && form.get('address').invalid">
        <small *ngIf="form.get('address').errors.required">Enter your address</small>
      </div>
    </div>

    <div class="form-control">
      <label for="payment">Payment method:</label>
      <select formControlName="payment">
        <option value="Cash">Cash</option>
        <option value="Card">Card</option>
      </select>
    </div>

    <button
      class="btn btn-primary btn-block"
      type="submit"
      [disabled]="form.invalid || submitted"
    >
      Add
    </button>

  </form>


</div>
<ng-template #empty>
  <h2 class="text-center">Cart is empty. Select Product</h2>
</ng-template>
