<div *ngIf="products.length; else loading">
  <h2 class="text-center">
    Dashboard of products

    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Date of creation</th>
        <th>Open</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products; let idx = index">
        <td>{{idx + 1}}</td>
        <td>{{product.title}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>
          <button [routerLink]="['/admin','product', product.id, 'edit']" class="btn btn-dark">Open</button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="remove(product.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </h2>
</div>

<ng-template #loading>
  <div class="text-center">Loading...</div>
</ng-template>
